.mapsTitle {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.drawMaps {
    margin: 10px 5px;
    height: 75vmin;
    padding: 10px;
    background-color: #282c34;
}

.drawCharts {
  margin: 10px 5px;
  height: 75vmin;
  padding: 10px;
  border: 1px solid #282c34;
}

.chartsDiv{
  margin: 0 100px;
}

li{
  padding: 10px;
}

li h3{
  text-decoration: underline;
}

li:hover{
  text-decoration: underline;
}