@import './Components/scss/popup.scss';

.navClass{
  width: 20%;
  height: 85vh;
  padding: 5px;
  float: left;
  border-right: 1px solid #282c34;
}

nav ul li{
  list-style: none;
}

li a{
  text-decoration: none;
  color: #282c34;
}

.mapsDiv{
  width: 76%;
  min-height: 90vh;
  float: left;
  height: auto;
  padding: 5px;
}

.rightDiv{
  display: flex;
  justify-content: flex-end;
  width: 71vw;
}

.aboutme{
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #0e5786;
}