.navClass{
  width: 20%;
  height: 97vh;
  padding: 5px;
  float: left;
  border: 1px solid #ff0000;
}

nav ul li{
  list-style: none;
}

li a{
  text-decoration: none;
  color: #282c34;
}

.mapsDiv{
  width: 76%;
  min-height: 97vh;
  float: left;
  height: auto;
  padding: 5px;
  border: 1px solid #ff0000;
}

